# Python
__pycache__/
*.py[cod]
.venv/
venv/
db.sqlite3
.claude/
.impeccable/


# Node / Vite
node_modules/
frontend/dist/

# Env
.env

prd.md
DESIGN.md
strukturdatabase_GrosirPusat.txt

.viewandfunction/

